.welcome {
  margin-left: 150px;
  margin-top: 20px;
  color: #393232;
  font-size: 30px;
}
.avatar {
  float: left;
  margin-left: 20px;
}
.clearfix {
  overflow: auto;
  margin-top: 40px;
}
.pay {
  margin-left: 20px;
  margin-top: 50px;
}
.icon {
  margin-right: 10px;
  display: inline-block;
}
.images {
  margin-left: 20px;
  margin-top: 20px;
  color: #393232;
  font-size: 30px;
}
.description {
  margin-left: 20px;
}
