.welcome {
  margin-left: 20px;
  margin-top: 20px;
  color: #393232;
  font-size: 30px;
  float: left;
}
.clearfix {
  overflow: auto;
  margin-top: 40px;
}
.pay {
  margin-left: 20px;
  margin-top: 50px;
}
.icon {
  margin-right: 10px;
  display: inline-block;
}
.images {
  margin-left: 20px;
  margin-top: 20px;
  color: #393232;
  font-size: 30px;
}
.description {
  margin-left: 20px;
}

.column {
  float: left;
  width: 30%;
  padding: 2%;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}
