body {
  padding: 50px 0;
  background-color: #222;
}
h2 {
  text-align: center;
  color: #000;
  margin-left: -65%;
}
header {
  margin-bottom: 20px;
  text-align: center;
}
header img {
  max-width: 120px;
}

.content .row {
  margin-bottom: 20px;
}
.content .row h3 {
  padding-left: 40px;
}
.content .row .currency-flag {
  background: url('./images/mdl.png') no-repeat left;
  background-size: 30px auto;
}
.content .row .currency-flag.EUR {
  background-image: url('./images/eur.svg');
}
.content .row .currency-flag.USD {
  background-image: url('./images/usd.png');
}
.content .row .currency-flag.RUB {
  background-image: url('./images/ru.svg');
}
.content .row .currency-flag.RON {
  background-image: url('./images/ro.png');
}
.content .row .currency-flag.UAH {
  background-image: url('./images/uah.png');
}
@media (min-width: 768px) {
  .content .currency-from-input {
    position: relative;
    padding-right: 20px;
  }
  .content .currency-from-input:after {
    content: '=';
    display: block;
    position: absolute;
    right: -8px;
    bottom: 4px;
    font-weight: bold;
    font-size: 30px;
    line-height: 0.9;
  }
  .content .currency-to-input {
    padding-left: 20px;
  }
}
